.Home {
  &__hero > div:nth-child(2) {
    justify-content: center;

    & > div:nth-child(2) {
      display: none;
    }

    & > div:nth-child(3) {
      text-align: center;
      flex-basis: initial;
      justify-content: center;

      & > div:nth-child(2) {
        flex-direction: initial;
      }

      @media screen and (min-width: 768px) {
        background-color: rgba(0, 0, 0, 0.5);
        width: 70%;
      }
    }
  }
}
