.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-list {
  display: table;
  margin: auto;
  width: 500px;
}

.App-list-item {
  display: block;
  color: white;
  width: 100%;
}

.App-list-item--bot {
  text-align: left;
}

.App-list-item--bot > span {
  background-color: grey;
  border-radius: 5px;
  padding: 5px;
}

.App-list-item--user {
  text-align: right;
}

.App-list-item--user > span {
  background-color: cyan;
  border-radius: 5px;
  padding: 5px;
}

.App-form {
  margin-top: 15px;
}

.App-form > input {
  width: 400px;
  padding: 15px;
  font-size: 16px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
